[Desktop Entry]
Type=Application
Name=ScreenMagnet
GenericName=Screen Caster
Comment=Cast this machine's screen to a TV
Exec=screenmagnet
Icon=screenmagnet
Terminal=false
Categories=AudioVideo;
Keywords=cast;mirror;airplay;screen;tv;
StartupWMClass=screenmagnet
X-GNOME-UsesNotifications=true
